//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.01 Education (64-bit)
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Sat 04 04 01:22:27 2026

IO_LOC "PA_EN" R16;
IO_PORT "PA_EN" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "WS" P16;
IO_PORT "WS" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "DOUT" P15;
IO_PORT "DOUT" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "BCK" N15;
IO_PORT "BCK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "TX" M11;
IO_PORT "TX" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "LO_OUT" T11;
IO_PORT "LO_OUT" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "relay_gain" T12;
IO_PORT "relay_gain" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "relay_filter" P11;
IO_PORT "relay_filter" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "ref_10m_out" P9;
IO_PORT "ref_10m_out" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "adf_ce" T7;
IO_PORT "adf_ce" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "adf_le" R8;
IO_PORT "adf_le" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "adf_data" T6;
IO_PORT "adf_data" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "adf_clk" P6;
IO_PORT "adf_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "adc_clk_out" M15;
IO_PORT "adc_clk_out" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "S4" C7;
IO_PORT "S4" IO_TYPE=LVCMOS33 PULL_MODE=UP HYSTERESIS=H2L BANK_VCCIO=3.3;
IO_LOC "S3" D7;
IO_PORT "S3" IO_TYPE=LVCMOS33 PULL_MODE=UP HYSTERESIS=H2L BANK_VCCIO=3.3;
IO_LOC "S2" T2;
IO_PORT "S2" IO_TYPE=LVCMOS33 PULL_MODE=UP HYSTERESIS=H2L BANK_VCCIO=3.3;
IO_LOC "S1" T3;
IO_PORT "S1" IO_TYPE=LVCMOS33 PULL_MODE=UP HYSTERESIS=H2L BANK_VCCIO=3.3;
IO_LOC "adc_data[11]" A11;
IO_PORT "adc_data[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_data[10]" C12;
IO_PORT "adc_data[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_data[9]" B12;
IO_PORT "adc_data[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_data[8]" A14;
IO_PORT "adc_data[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_data[7]" B13;
IO_PORT "adc_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_data[6]" A15;
IO_PORT "adc_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_data[5]" B14;
IO_PORT "adc_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_data[4]" E15;
IO_PORT "adc_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_data[3]" D14;
IO_PORT "adc_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_data[2]" J16;
IO_PORT "adc_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_data[1]" J14;
IO_PORT "adc_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "sys_rst_n" T10;
IO_PORT "sys_rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "sys_clk" H11;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data[0]" M14;
IO_PORT "adc_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adf_mux" T8;
IO_PORT "adf_mux" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_otr" B11;
IO_PORT "adc_otr" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "adf_ld" P8;
IO_PORT "adf_ld" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
